.App {
  text-align: center;
  height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica,Arial,sans-serif;
	color: #000;
}
.movie-app {
	width: 80%;
	height: 650px;
  background-color: #333333;
  border: 1px solid #000000;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 10px 10px 300px 99px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 300px 99px rgba(0,0,0,0.79);
box-shadow: 10px 10px 300px 99px rgba(0,0,0,0.79);
}
.movie-app-header {
  display: flex;
	align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}
.mb-3 {
	margin-top: 10px;
	width: 200%;
}
.rating-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}
.rating-filter-text {
  color: #fff;
  font-size: 0.8em;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.cart {
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	width: 220px;
	height: 260px;
	margin: 10px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(255,255,255,1);
  -moz-box-shadow: 3px 3px 11px 0px rgba(255,255,255,1);
  box-shadow: 3px 3px 11px 0px rgba(255,255,255,1);
}
.cart a {
	text-decoration: none;
}

.cart img {
	width: 220px;
	height: 190px;
}
.cart h4 {
	font-size: 20px;
	margin-bottom: 0px;
}
.cart p {
	font-size: 12px;
}
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  color: rgb(255, 255, 0);
  font-size: 25px;
}
.stars {
  color: rgb(255, 255, 0);
  font-size: 25px;
  text-decoration: none;
}
.stars:hover {
  color: rgb(255, 255, 0);
  font-size: 25px;
  text-decoration: none;
}

.inputmodal {
  width: 100px;
}
.boutton {
  position: absolute;
  top:0;
  margin-top: 11px;
  margin-left: 600px;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
}